substitutions:
  node_name: boneio
  dir_name: 'boneio/'

packages:
  # devices
  core: !include boneio/devices/wt32_eth01.yaml
  internals: !include boneio/devices/boneio_board.yaml
  temp: !include boneio/devices/lm75b.yaml
  display: !include boneio/devices/display.yaml
  # uart: !include devices/uart.yaml
  # one_wire: !include devices/one_wire.yaml
  # relay32
  output: !include boneio/boards/relay32_outputs_PCF.yaml
  #output: !include boneio/boards/relay32_outputs_MCP.yaml
  input: !include boneio/boards/relay32_inputs_PCF.yaml
  #input: !include boneio/boards/relay32_inputs_MCP.yaml
# dimmer led
# output: !include boneio/boards/dimmer_led8x4_outputs.yaml
# input: !include boneio/boards/dimmer_led8x4_inputs.yaml
# light: !include boneio/boards/monochromatic_lights.yaml
# cover
#  output: !include boneio/boards/cover16_outputs_PCF.yaml
#  output: !include boneio/boards/cover16_outputs_MCP.yaml
# input: !include boneio/boards/cover16_inputs_PCF.yaml
# input: !include boneio/boards/cover16_inputs_MCP.yaml

logger:
  baud_rate: 0
api:
ota:
  password: boneio
# disable web server - for testing only
web_server:
  port: 80
  local: true

time:
  - platform: homeassistant
    timezone: Europe/Warsaw
    id: homeassistant_time
    # instead try to synchronize via network repeatedly ...
    on_time_sync:
      then:
        # ... and update the RTC when the synchronization was successful
        ds1307.write_time:
